<header class="bg-slate-700 py-4 shadow-md">
  <nav class="flex justify-between items-center">
    <h1 class="text-white text-2xl font-bold px-8">My Awsome App</h1>
    <ul class="flex justify-end text-gray-100 gap-6 px-8">
      <li>
        <a
          href="/"
          class="hover:text-white transition-colors duration-200 font-medium"
        >
          Login
        </a>
      </li>
      <li>
        <a
          href="/register"
          class="hover:text-white transition-colors duration-200 font-medium"
        >
          SignUp
        </a>
      </li>
    </ul>
  </nav>
</header>
