---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <form
    class="mx-auto mt-40 login-form flex flex-col gap-3 p-8 bg-gray-600 text-gray-500 rounded-xl"
  >
    <label class="flex flex-col">
      <span class="text-gray-100">First Name:</span>
      <input
        type="text"
        name="firstName"
        autocomplete="off"
        placeholder="your name"
        id="firstName"
        class="border border-gray-900 rounded p-1"
        required
      />
    </label>

    <label class="flex flex-col">
      <span class="text-gray-100">Last Name:</span>
      <input
        type="text"
        name="lastName"
        autocomplete="off"
        placeholder="your name"
        id="lastName"
        class="border border-gray-900 rounded p-1"
        required
      />
    </label>

    <label class="flex flex-col">
      <span class="text-gray-100">Username:</span>
      <input
        type="text"
        name="username"
        autocomplete="off"
        placeholder="your name"
        id="username"
        class="border border-gray-900 rounded p-1"
        required
      />
    </label>

    <label class="flex flex-col">
      <span class="text-gray-100">Password:</span>
      <input
        type="password"
        name="password"
        class="border border-gray-900 rounded p-1"
        placeholder="password"
        required
      />
    </label>
    <button
      type="submit"
      class="bg-gray-400 w-40 mt-4 mx-auto rounded py-2 text-xl text-gray-100"
    >
      Register
    </button>
  </form>

  <script>
    const form = document.querySelector(".login-form") as HTMLFormElement;

    form.addEventListener("submit", async (e) => {
      e.preventDefault();
      const formData = new FormData(form);
      const username = formData.get("username");
      const password = formData.get("password");
      const firstName = formData.get("firstName");
      const lastName = formData.get("lastName");
      console.log(JSON.stringify({ username, password, firstName, lastName }));

      const response = await fetch(`http://localhost:3005/api/users/signup`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          username: username,
          password: password,
          firstName: firstName,
          lastName: lastName,
        }),
        credentials: "include",
      });
      const data = await response.json();
      if (response.ok) {
        window.location.href = "/";
      }
    });
  </script>
</BaseLayout>
